<p id="notice"><%= notice %></p>

<h1>Grid</h1>

<div class="grids">
    <% @ideas.each do |idea| %>
      <div class = "grid" >
        <%= link_to idea do %>
          <%= picture_image_tag(idea) %>
        <% end %>
      </div>
    <% end %>
</div>